/* Box för första versionen av filtret */
.aside-menu-container {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  border-top-right-radius: 35px;
  border-bottom-right-radius: 35px;
  height: 100dvh;
  width: 20rem;
  background-color: #ebe3e3;

  padding-top: 16rem;
  padding-bottom: 2rem;
  z-index: 1;
  transition: 0.2s;
  box-shadow: 0 -4px 2px 2px gray;
}

/*The reset filter text */
#reset-filter {
  font-size: 25px;
  padding: 10px 0px;
  margin-left: 2rem;
  letter-spacing: 2px;
  font-weight: 700;
  cursor: pointer;
  margin-bottom: 1rem;
  width: 190px;
  transition: 0.2s;
}
/* Hover over för reset filter texten */
#reset-filter:hover {
  color: rgba(184, 170, 149, 0.983);
  text-shadow: 2px 2px 4px rgba(7, 7, 7, 0.3);
  transition: 0.2s ease-in-out;
}
/* Roll down meny för pris filter */
#price-filter {
  margin-left: 2rem;
  padding: 10px 30px;
  border-radius: 8px;
  text-align-last: center;
  cursor: pointer;
  margin-bottom: 0.5rem;
  background-color: rgba(184, 170, 149, 0.5);
  box-shadow: 2px 2px 5px;
  border: none;
  outline: none;
  transition: 0.2s;
}

/* container för kategorier */
.category-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* container för checkboxarna */
.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
/*Designar checkboxes  */
.checkboxes {
  height: 18px;
  width: 18px;
  margin-right: 0.5rem;
  margin-left: 2rem;
  filter: sepia(1);
}
/*Designing the labels för alla filter */
.labels {
  font-size: 18px;
  padding: 5px 5px 5px 5px;
  letter-spacing: 2px;
}
/* Allergic section container(allergier container) */
.allergic-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* The titles of the aside container(kategorier, allergiers */
.aside-container-title {
  font-size: 20px;
  padding: 10px 10px 10px;
  margin-left: 1.4rem;
  letter-spacing: 2px;
  text-decoration: underline;
  transition: 0.2s;
  margin-bottom: 5px !important;
}

/* andra versionen av filtret för ipad/mobil */

.version-aside-container {
  display: none;
  position: fixed;
  top: 0;
  background-color: rgb(235, 227, 227, 0.9);
  width: 100%;

  transition: 0.2s;
  padding-top: 17rem;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
  transition: 0.4s;
}

/* container för btn-hide */
#hide-button {
  display: none;
  position: fixed;
  top: 11.5rem;
  right: 6rem;
  z-index: 1001;
  transition: 0.2s;
}
/* knapp för att visa och gömma andra versionen av filtret */
#btn-hide {
  border: none;
  outline: none;
  background: transparent;
  font-size: 45px;
  cursor: pointer;
}
/* knapp för att visa och gömma footer */
#social-click-out {
  position: fixed;
  top: 12rem;
  right: 3rem;
  font-size: 20px;
  outline: none;
  border-radius: 7px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  transition: 0.2s;
  z-index: 1001;
}

/* pris filtret i andra version av filtret */
#price-filter-mobile {
  margin-right: 2rem;
  padding: 10px 2px;
  border-radius: 8px;
  text-align-last: center;
  cursor: pointer;
  margin-bottom: 2rem;
  background-color: transparent;
  box-shadow: 2px 2px 5px;
  border: none;
  outline: none;
  height: 50px;
  top: 22rem;
  right: 8rem;
  transition: 0.2s;
}
/* reset button i andra version filtret */
#reset-button {
  margin-right: 2rem;
  padding: 10px 20px;
  border-radius: 8px;
  text-align-last: center;
  cursor: pointer;
  margin-bottom: 2rem;
  background-color: transparent;
  box-shadow: 2px 2px 5px;
  height: 50px;
  top: 18rem;
  right: 8rem;
  border: none;
  outline: none;
  transition: 0.2s;
}

#reset-button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #d4cccc;
  box-shadow: inset 2px 2px 5px gray;
}
#reset-button:active {
  box-shadow: 5px 5px 3px black;
}
/* Container för buttons i andra version av filter */
.button-container {
  display: flex;
  flex-direction: row-reverse;
}
/* väljer select för att komma åt option och stylar */
select > option {
  background-color: rgba(255, 192, 203, 0.9);
  color: black;
  font-weight: 700;
  font-size: 15px;
}
/* options i select roll down menu */
option:not(:checked) {
  background-color: rgba(128, 128, 128, 0.2);
}
body {
  margin: 0 0 100px;
  font-family: "Roboto", sans-serif;
  background: #d4cccc;
}

#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#head_container {
  width: 100%;
  position: fixed;
  background: #ebe3e3;
  padding: 18rem;
  box-shadow: 0 4px 2px -2px gray;
  transition: 0.2s;
  font-family: "Smooch", cursive;
  z-index: 1000;
  margin-bottom: 2rem;
}
#logo {
  border-radius: 50%;
  box-shadow: 5px 5px 25px rgb(100, 89, 89);
  border: 12px solid rgb(100, 89, 89);
  mix-blend-mode: color-burn;
  position: fixed;
  top: 1rem;
  left: 5rem;

  transition: 0.2s;
}
#meny {
  font-size: 8rem;
  position: fixed;
  left: 50%;
  top: 1rem;
  transition: 0.2s;
}

.card {
  /* card */
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 25%;
  left: 22%;
  padding-bottom: 20rem;
}
.white-card {
  /* card-box */
  float: left;
  width: 450px;
  height: 300px;
  background-color: #fff;
  border-radius: 4px;
  margin: 40px;
  display: flex;
  flex-wrap: wrap;
  
  justify-content: space-between;
  padding-bottom: 11rem;

}
.white-card img {
  /* Bild */
  height: 280px;
  width: 450px;
  border-radius: 4px 4px 0 0;
}
.dish-title {
  /* maträtt-namn */
  position: relative;
  font-size: 23px;
  font-weight: bold;
  padding: 0px;
  margin: 15px;
}
.dish-price {
  /* pris */
  float: right;
  padding: 4px;
  font-size: 23px;
  font-weight: bold;
  margin: 10px;
  
}
.dish-description {
  /* maträtt-beskrivning */
  color: rgb(109, 109, 109);
  padding: 0px;
  margin: 0px 10px 0px 10px;
}
 .gluten-free {
  display: block;
  font-size: 15px;
  padding: 4px;
  margin: 10px;
  border-radius: 10px;
  background: #d4cccc;
  
}
.lactose-free {
  display: block;
  align-items: center;
  font-size: 15px;
  padding: 4px;
  margin: 10px;
  border-radius: 10px; 
  background: #d4cccc;
}

/* knappen för att byta språk */

#byta {
  position: inherit;
  right: 0;
  margin: 2rem;
  width: 200px;
  height: 50px;
  border-radius: 7px;
  background: rgba(203, 179, 179, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.3);
}
#byta:hover {
  background: rgba(155, 137, 137, 0.8);
  cursor: pointer;
}
#byta:active {
  box-shadow: inset 2px 2px 7px rgba(0, 0, 0, 0.3);
}
/* footer */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -4px 2px -2px gray;
  font-weight: 700;
  background: #ebe3e3;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin-top: auto;
  opacity: 0.9;
  transition: 0.5s;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
/* social icons */
.social-list {
  list-style: none;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 2rem;
  font-size: 15px;
}

.social-div {
  text-align: center;
}
/* footer text */
.footer-contact {
  position: fixed;
  right: 35px;
  list-style: none;
}
/* footer text */
.social-links {
  text-decoration: none;
  color: gray;
}

/* Media queries*/

@media (max-height: 600px) {
  .card {
    left: 20% !important;
    top: 40% !important;
  }
  .white-card {
    height: 210px;
    width: 270px;
    padding-bottom: 12.2rem;
  }
  .white-card img {
    width: 270px;
    height: 190px;
  }
}
/* media mx with, 1000, 800, 600 */
@media (max-height: 800px) {
  #hide-button {
    display: block;
  }
  .aside-menu-container {
    display: none;
  }
  .version-aside-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .category-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  .category-container {
    flex-direction: column;
    transform: translatey(-16.1px);
    gap: 0;
  }

  .allergic-container {
    flex-direction: row;
    transform: translateX(15.1px);
    gap: 0;
    margin-bottom: 1rem;
  }

  .aside-container-title {
    font-size: 15px;
    margin-bottom: 0;
  }
  .button-container {
    transform: translateX(20.1px);
  }
  #meny {
    display: none;
  }

  .footer-logo {
    display: none;
  }
  .card {
    top: 35% !important;
    left: 9%;
  }
}
@media (max-width: 2000px) {
  .card {
    top: 28%;
    left: 29%;
  }
}
@media (max-width: 1495px) {
  .card {
    left: 30%;
  }
}

@media (max-width: 1000px) {
  .aside-menu-container {
    display: none;
  }

  #hide-button {
    display: block;
  }
  #price-filter {
    background-color: transparent;
  }
  .card {
    position: static;
    display: flex;
    margin-top: 18rem;
  }
  .white-card {
    justify-content: center;
    align-items: center;
    padding-bottom: 11rem;
    clear: left;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 50px;
  }

  .version-aside-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .category-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    border-bottom-style: groove;
    transform: translateX(-10.1px);
  }
  .category-container {
    flex-direction: column;
    transform: translatey(-16.1px);

    gap: 0;
  }
  .category-container-two {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.2rem;
  }
  .allergic-container {
    flex-direction: row;
    transform: translateX(-10.1px);
    margin-bottom: 1rem;
  }
  .aside-container-title {
    font-size: 15px;
    margin-bottom: 0;
  }
  .button-container {
    transform: translateX(20.1px);
  }
  #meny {
    display: none;
  }

  .footer-logo {
    display: none;
  }
}
@media (max-width: 800px) {
  .white-card {
    width: 350px;
    height: 270px;
    padding-bottom: 11rem;
  }
  .white-card img {
    width: 350px;
    height: 250px;
  }
  .card {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer {
    font-size: 14px;
  }
  .social-list {
    font-size: 10px;
  }
}
@media (max-width: 600px) {
  .white-card {
    width: 300px;
    height: 250px;
    padding-bottom: 11rem;
  }
  .white-card img {
    width: 300px;
    height: 230px;
  }
  .footer {
    flex-direction: column;
  }
  #logo {
    left: 0.8rem;
    height: 10rem;
    width: 8rem;
  }
  .footer-contact {
    position: static;
    margin: 0;
  }
  #byta {
    margin-top: 2rem;
    margin-right: 1rem;
    width: 100px;
    padding: 0;
  }
}
@media (max-width: 400px) {
  .white-card {
    width: 285px;
    height: 230px;
    padding-bottom: 11rem;
  }
  .white-card img {
    width: 285px;
    height: 250px;
  }
  .card {
    margin-top: 18rem;
  }
  #byta {
    margin-top: 2rem;
    margin-right: 0.5rem;
    width: 85px;
    padding: 0;
  }
  .labels {
    font-size: 15px;
    letter-spacing: 0;
  }
  #hide-button {
    right: 4rem;
  }
  #social-click-out {
    right: 1.25rem;
  }
}
@media (max-width: 300px) {
  #byta {
    margin-top: 2rem;
    margin-right: 0.5rem;
    width: 65px;
    padding: 0;
  }
  .labels {
    font-size: 12px;
    letter-spacing: 0;
  }

  .checkbox-container {
    gap: 0;
  }
  .checkboxes {
    margin-top: 0.5rem;
  }

  .white-card {
    width: 250px;
    height: 220px;
  }
  .white-card img {
    width: 250px;
    height: 240px;
  }
  .dish-title {
    font-size: 15px;
    font-weight: 700;
  }
  .dish-price {
    font-size: 16px;
  }
  .dish-description {
    font-size: 14px;
  }
  .white-card {
    width: 250px;
    height: 220px;
  }
  .white-card img {
    width: 250px;
    height: 240px;
  }
  .dish-title {
    font-size: 15px;
    font-weight: 700;
  }
  .dish-price {
    font-size: 16px;
  }
  .dish-description {
    font-size: 14px;
  }
}
